<?xml version='1.0' encoding='utf-8'?>
<widget id="fishtank.bhdouglass" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fish Tank</name>
    <description>
        A simple fish tank on your phone
    </description>
    <author email="bhdouglass@gmail.com" href="http://bhdouglass.com">
        Brian Douglass
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="logo.png" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
    </platform>
</widget>
